# Wireless interfaces on DHCP, once wpa_supplicant has associated. Put the
# network in /etc/wpa_supplicant/wpa_supplicant-wlan0.conf and run
#     systemctl start wpa_supplicant@wlan0
[Match]
Name=wl*

[Network]
DHCP=yes
